body{
    background-color: #01011D;
}

.text-stroke-outside { 
  text-shadow: 
    -2px -2px 0 #3BC4FA,
     2px -2px 0 #3BC4FA,
    -2px  2px 0 #3BC4FA,
     2px  2px 0 #3BC4FA,
     0px -2px 0 #3BC4FA,
     0px  2px 0 #3BC4FA,
    -2px  0px 0 #3BC4FA,
     2px  0px 0 #3BC4FA;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px; 
}

::-webkit-scrollbar-track {
  background: #01011D ;
}

.Active-btn{
  text-shadow:0px 0px 15px  #3AC3F9;
}

/* loading animation keyframes */

.sss{
  animation: sss 3s ease-in forwards;
}

@keyframes sss {
  0%{
     top:-40%;
  }
  50%{
     top:-40%;
  }
  100%{
     top:12.2%;
  }
}

.jjj{
  animation: jjj 2.5s ease-in forwards;
}

@keyframes jjj {
  0%{
     left: 60.2%;
     opacity: 0%;
  }
   50%{
     left: 60.2%;
     opacity: 0%;
  }
  100%{
     opacity: 100%;
     left: 43.2%;
  }
}

.aaa{
  animation: aaa 1.5s ease-in forwards;
}

@keyframes aaa {
  0%{
     top:80%;
      opacity: 0%;
  }
  50%{
    top:60%;
     opacity: 0%;
  }
  100%{
    opacity: 100%;
    top:18.2%;
  }
}

.Syndicate{
  animation: Syndicate 3s ease-in forwards;
}

@keyframes Syndicate {
  0%{
     opacity:0%;
  }
  90%{
     opacity:0%;
  }
  100%{
     opacity:100%;
  }
}

.jex{
  animation: jex 2.5s ease-in forwards;
}

@keyframes jex {
  0%{
     opacity: 0%;
  }
   90%{
     opacity: 0%;
  }
  100%{
     opacity: 100%;
  }
}

.aero{
  animation: aero 2s ease-in forwards;
}

@keyframes aero {
  0%{
     opacity:0%;
  }
  70%{
     opacity:0%;
  }
  100%{
     opacity:100%;
  }
}

.loader-page{
  animation: loaderPage 6s ease-out forwards;
}

@keyframes loaderPage{
0%{
  height: 100vh;
  opacity: 100%;
}
90%{
  height: 100vh;
  opacity: 100%;
}
100%{
  height: 0vh;
  opacity: 0%;
}
}

